Django==6.0.4
django-cors-headers==4.9.0
djangorestframework==3.17.1
gunicorn==25.3.0
pillow==12.2.0
psycopg2-binary==2.9.12
requests==2.33.1
ultralytics==8.4.39
opencv-python-headless==4.13.0.92

# CPU-only PyTorch (VERY IMPORTANT)
torch==2.2.2
torchvision==0.17.2
